<section class="pane pane-left" ng-class="{'pane-active': navpanelActive}" >
    <accordion close-others="true">
        <accordion-group heading="Manage" is-open="manage.open" ng-class="{'panel-active': manage.open}">
            <a href="" class="panel menu-item" ui-sref="dashboard.manage.projects">Manage projects</a>
            <a href="" class="panel menu-item" ui-sref="dashboard.manage.teams">Manage teams</a>
        </accordion-group>
        <accordion-group heading="Project" is-open="project.open" ng-class="{'panel-active': project.open}">
            <a href="" class="panel menu-item">Plan project</a>
            <a href="" class="panel menu-item">Plan sprint</a>
            <a href="" class="panel menu-item">My task</a>
        </accordion-group>
        <accordion-group heading="Documents" is-open="documents.open" ng-class="{'panel-active': documents.open}">
            <a href="" class="panel menu-item">Manage documents</a>
            <a href="" class="panel menu-item">Manage templates</a>
            <a href="" class="panel menu-item">Link</a>
        </accordion-group>
        <accordion-group heading="My account" is-open="account.open" ng-class="{'panel-active': account.open}">
            <a href="" class="panel menu-item">Profile</a>
            <a href="" ui-sref="dashboard.settings" class="panel menu-item">Settings</a>
        </accordion-group>
    </accordion>
</section>
