<h2>Edit project</h2>
<form role="form" name="project_edit" ng-submit="update()">
    <fieldset>
        <label for="project_name">Name</label>
        <input id="project_name" type="text" placeholder="Name" ng-model="editProject.name" maxlength="50" ng-maxlength="50" required>

        <label for="project_description">Description</label>
        <textarea id="project_description" type="text" placeholder="Name" ng-model="editProject.description" maxlength="250" ng-maxlength="250" required></textarea>
    </fieldset>
    <button class="button button-primary" ng-disabled="project_edit.$invalid" type="submit">Update</button>
    <button class="button button-secondary" type="button" ng-click="cancel()">Cancel</button>
</form>
