<div class="grid">
    <div class="grid-3-3"><h1>Plan project</h1></div>
    <section class="grid-1-3">
        <h2>Sprints</h2>
        <ul class="list-toolbar">
            <li><a tooltip="Create sprint" class="button button-primary button-small" ng-click="Sprint.create()"><i class="fa fa-plus"></i></a></li>
        </ul>
        <table class="table table-horizontal">
            <tr ng-repeat="sprint in Sprint.all()">
                <td>{{sprint.name}}</td>
                <td>{{sprint.goal}}</td>
                <td>{{sprint.start}} - {{sprint.end}}</td>
                <td class="button-group-inline">
                <button tooltip="Edit sprint" class="button button-secondary button-small" ng-click="Sprint.update(sprint)"><i class="fa fa-cog"></i></button>
                <button tooltip="Delete sprint" class="button button-small button-error" confirm-dialog confirm-id="projectId" confirm-message="Are you sure you want to delete this sprint and all it's data?" on-confirm="Sprint.delete(sprint)"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        </table>
    </section>
    <section class="grid-1-3">
        <h2>Product backlog</h2>
        <ul class="list-toolbar">
            <li><a tooltip="Create story" class="button button-primary button-small" ng-click="Story.create()"><i class="fa fa-plus"></i></a></li>
        </ul>
        <ul ng-repeat="story in Story.backlog()">
            <li>{{story}}</li>
        </ul>
    </section>
    <section class="grid-1-3">
        <h2>Help?</h2>
    </section>
</div>
