<div class="grid">
    <div class="grid-3-3"><h1>Plan project</h1></div>
    <section class="grid-1-3">
        <h2>Sprints</h2>
        <ul class="list-toolbar">
            <li><a tooltip="Create sprint" class="button button-primary button-small" ng-click="Sprint.create()"><i class="fa fa-plus"></i></a></li>
        </ul>
        <div class="story-filter-container">Sprints should be 1-4 weeks long.</div>
        <div ng-repeat="sprint in Sprint.all()">
            <div sprint-item ng-model="sprint">
                <button tooltip="Edit sprint" class="button button-primary button-small" ng-click="Sprint.update(sprint)"><i class="fa fa-cog"></i></button>
                <button tooltip="Delete sprint" class="button button-error button-small" dialog-confirm dialog-message="Removing this sprint will make all it's data unavailable, are you sure this is what you want to do?" on-confirm="Sprint.delete(sprint)"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </section>
    <section class="grid-1-3">
        <div>
        <h2>Product backlog</h2>
        <ul class="list-toolbar">
            <li><a tooltip="Create story" class="button button-primary button-small" ng-click="Story.create()"><i class="fa fa-plus"></i></a></li>
        </ul>
        <div class="story-filter-container">Filter: <input class="story-filter" type="text" ng-model="filter.pbFilter">
            <button tooltip="Show completed stories" class="button completed button-small" ng-click="filter.pbStatus = 'completed'">
                <i class="fa fa-check"></i>
            </button><button tooltip="Show stories in progress" class="button in-progress button-small" ng-click="filter.pbStatus = 'in progress'">
                <i class="fa fa-cogs"></i>
            </button><button tooltip="Show stories that needs work" class="button not-started button-small" ng-click="filter.pbStatus = 'not started'">
                <i class="fa fa-ban"></i>
            </button><button tooltip="Show all stories" class="button status-all button-small" ng-click="filter.pbStatus = ''">
                <i class="fa fa-asterisk"></i>
            </button>
        </div>
        <div ng-repeat="story in Story.backlog() | orderBy: 'priority':true | filter: filter.pbStatus | filter: filter.pbFilter">
            <div story-item ng-model="story">
                <button tooltip="Edit story" class="button button-primary button-small" ng-click="Story.edit(story)"><i class="fa fa-cog"></i></button>
                <button tooltip="Delete story" class="button button-error button-small" confirm-dialog confirm-message="Are you sure you want to remove this story?" on-confirm="Story.delete(story)"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </div>
    </section>
    <section class="grid-1-3">
        <h2>Help?</h2>
    </section>
</div>
