<section class="pane pane-right" ng-class="{'pane-active': chatpanelActive}" >
        <div class="chat">
            <ul class="chat-messages" scroll-bottom ng-model="Chat.messages">
                <li class="chat-message" ng-repeat="message in Chat.messages"><div class="chat-message-body"><img class="userimage" ng-src="http://www.gravatar.com/avatar/{{message.md5Hash}}"><b>{{message.username}}:</b> <span ng-bind-html="message.message | linky:'_blank' | lineBreak"></span></div></li>
            </ul>
            <form class="chat-form">
                <textarea class="chat-send" type="text" ng-model="newMessage.message" ng-keydown="sendMessage($event)"></textarea>
            </form>
        </div>
</section>

