.pane-right {
    background-color: $color-panel;
    border-left: 3px solid $color-border;
}

.chatpanel-switch {
    position: absolute;
    right: 10px;
}

.pane.pane-right {
    width: 300px;
    min-height: 100%;
    margin-right: -303px;
    transition: all 300ms ease;
}

.pane-active.pane-right {
    margin-right: 0;
}
