/* Colors */
$white: #ffffff;
$black: #333332;
$gray: lighten($black, 20%);
$lightgray: lighten($black, 50%);

$darkblue: #21394c;
$blue: #3c688c;
$lightblue: #6d97bf;
$grayblue: #c4cfe1;
$lightgrayblue: #e7ecf9;

$brown-dark: #3f2c0f;
$brown-light: #8c6d3c;

$color-facebook: #3B5998;
$color-google-plus: #D34836;
$color-twitter: #00ACED;

$color-primary: $darkblue;
$color-secondary: $blue;
$color-success: #408C3C;
$color-info: #3C8C88;
$color-warning: #8C603C;
$color-error: #8C3C40;

/* http://www.paletton.com/#uid=73y270kjCre9GHNeZvOoanQrHiH */

$color-primary-0: #2A506F;  /* Main Primary color */
$color-primary-1: #A9AAAC;
$color-primary-2: #60788C;
$color-primary-3: #063052;
$color-primary-4: #001D34;

$color-secondary-1-0: #AC3C39;  /* Main Secondary color (1) */
$color-secondary-1-1: #FFFBFB;
$color-secondary-1-2: #D99190;
$color-secondary-1-3: #7F0501;
$color-secondary-1-4: #510200;

$color-secondary-2-0: #2D8733;  /* Main Secondary color (2) */
$color-secondary-2-1: #CACDCA;
$color-secondary-2-2: #71AB75;
$color-secondary-2-3: #016408;
$color-secondary-2-4: #004004;

$color-complement-0: #AC7C39;   /* Main Complement color */
$color-complement-1: #FFFDFB;
$color-complement-2: #D9BA90;
$color-complement-3: #7F4A01;
$color-complement-4: #512F00;

/* Function mapping */
$color-text: $black;
$color-text-inverse: $white;

$color-navbar-bg: $darkblue;
$color-navbar-link: $grayblue;
$color-navbar-link-active: $lightgrayblue;

$color-panel: $lightgrayblue;
$color-border: $black;

$color-accordion-bg: $blue;
$color-accordion-item-bg: $grayblue;
$color-accordion-sub-item-bg: $lightgrayblue;

/* Backdrop & box*/
$color-backdrop: $lightgrayblue;
$color-backdrop-box: $blue;

/* Buttons */
    /* Social */
    $color-button-bg-facebook: $color-facebook;
    $color-button-text-facebook: $white;

    $color-button-bg-google-plus: $color-google-plus;
    $color-button-text-google-plus: $white;

    $color-button-bg-twitter: $color-twitter;
    $color-button-text-twitter: $white;

    /* Status */
    $color-button-bg-primary: $color-primary;
    $color-button-text-primary: lighten($color-primary, 80);

    $color-button-bg-secondary: $color-secondary;
    $color-button-text-secondary: lighten($color-secondary, 80);

    $color-button-bg-success: $color-success;
    $color-button-text-success: lighten($color-success, 80);

    $color-button-bg-info: $color-info;
    $color-button-text-info: lighten($color-info, 80);

    $color-button-bg-warning: $color-warning;
    $color-button-text-warning: lighten($color-warning, 80);

    $color-button-bg-error: $color-error;
    $color-button-text-error: lighten($color-error, 80);


$color-status-completed: $color-secondary-2-2;
$color-status-completed-active: lighten($color-secondary-2-2, 10);
$color-status-in-progress: $color-complement-2;
$color-status-in-progress-active: lighten($color-complement-2, 10);
$color-status-not-started: $color-secondary-1-2;
$color-status-not-started-active: lighten($color-secondary-1-2, 10);
