<h2>Create document</h2>
<form role="form" name="documentMeta_create" ng-submit="create()">
    <fieldset>
        <label for="documentMeta_name">Name</label>
        <input id="documentMeta_name" type="text" placeholder="Name" ng-model="documentMeta.name" maxlength="50" ng-maxlength="50" required>

        <label for="documentMeta_description">Description</label>
        <textarea id="documentMeta_description" type="text" placeholder="Description" ng-model="documentMeta.description" maxlength="250" ng-maxlength="250" required></textarea>
    </fieldset>
    <button class="button button-primary" ng-disabled="documentMeta_create.$invalid" type="submit">Create</button>
    <button class="button button-secondary" type="button" ng-click="cancel()">Cancel</button>
</form>
